<%= javascript_pack_tag 'application' %>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= react_component("App", @data.merge({prerender: true}),) %>